.intestazione{
    background-color: blue;
    color: aquamarine;
    text-align: center;

    padding: 16px;

    border-style: solid;
    border-color: red;
    border-width: 16px;
    border-radius: 30px;
}

.link-navigazione{
    color: darkseagreen;
    font-weight: bold;

}

.immagine-spostabile{
    position: absolute;
    top: 500px;
    left: 500px;
}
